<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Set DEBUG for all DeepSearch packages to see logs during tests -->
    <logger name="io.deepsearch.application" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="io.deepsearch.domain" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>
    
    <logger name="io.deepsearch.infrastructure" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Root logger at INFO for cleanliness -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>


